/* adminlgv-transparency */
html,
body,
nav
{
  --palette-background-paper: transparent !important;
  --palette-background-default: transparent !important;
  --palette-common-black: #fffe !important;
  --palette-text-primary: #fffe !important;
  --palette-secondary-main: #31507c !important;
  --palette-secondary-dark: #1e3a5f !important;
  --palette-secondary-light: #4a6f9c !important;
  --palette-secondary-contrastText: #fffe !important;
  --palette-background-paper: transparent !important;
  --palette-background-default: transparent !important;
  --palette-background-neutral: transparent !important;
  background-color: transparent !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
  box-shadow: none !important;
}

.MuiTypography-root {
  color: #fffe !important;
}

.MuiCard-root, .MuiPaper-root {
  backdrop-filter: blur(16px) !important;
  background-color: transparent !important;
  border-radius: 0.2em !important;
  border: none !important;
  transition: transform 0.2s ease-in-out !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px !important;
}

header, .css-1haeaue {
  --palette-common-white: transparent !important;
  backdrop-filter: blur(16px) !important;
}

:root {
  --darkreader-background-ffffff: transparent !important;
}

@layer {
  :root,
  html,
  body {
    --darkreader-background-ffffff: transparent !important;
    background-color: transparent !important;
    --palette-background-paper: transparent !important;
    --palette-background-default: transparent !important;
    --palette-background-neutral: transparent !important;
  }
}

/* adminlgv-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* adminlgv-no footer */
footer,
#Footer,
.Footer,
mfe-footer-pharos-footer,
.footer,
#footer {
  display: none !important;
}
