/* adminlgv-transparency */
html,
body,
nav,
section[data-role] {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
  --palette-background-paper: transparent !important;
  --palette-background-default: transparent !important;
  --palette-common-white: transparent !important;
  --palette-common-black: #fffe !important;
}

:root {
  --darkreader-background-ffffff: transparent !important;
  --palette-background-paper: transparent !important;
  --palette-background-default: transparent !important;
  --palette-common-white: transparent !important;
}

@layer {
  :root,
  html,
  body {
    --darkreader-background-ffffff: transparent !important;
    background-color: transparent !important;
    --palette-background-paper: transparent !important;
  }
}

/* adminlgv-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* adminlgv-no footer */
footer,
#Footer,
.Footer,
mfe-footer-pharos-footer,
.footer,
#footer {
  display: none !important;
}
