/* voxtaportal-transparency */
html,
body,
nav,
.css-1rxw4et, .css-1vymm1o, .css-dbkolw, .css-1utzf65, .css-caw86, .css-1okh4uo, .css-93bvzv, .css-1utzf65, .css-kfz39v, .css-xrbo6j, .css-4p5rqm{
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}


/* voxtaportal-blur */
.css-93bvzv, .css-xrbo6j {
    backdrop-filter: blur(10px) !important;
}

@layer base {
    :root {
        --chakra-colors-background-base: transparent !important;
    }
}


/* voxtaportal-darkreader */
.css-10x5j8z, .css-9p25au, .css-9f4txl, .css-1gw2vvz, .css-3sublr, .css-1bhavvk{
    color: var(--chakra-colors-text-primary) !important;
}

.css-cm9ntp, .css-15epc0u, .css-evm92v {
    color: var(--chakra-colors-text-secondary) !important;
}

/* voxtaportal-no-footer */
.css-ll8kup {
    display: none !important;
}