/* gmail-transparency */
.aAU,
.bkK > .nH,
.a6o::before,
.WR.aeN,
.wl,
.yO,
.aKh,
.Nt {
  background: none !important;
  background-color: transparent !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* gmail-no borders */
.aAU,
.bkK > .nH,
.a6o::before,
.WR.aeN,
.wl,
.yO,
.aKh,
.Nt {
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* gmail-hidden */
div.apa.nH.oy8Mbf {
  display: none !important;
}

/* gmail-preview (experimental) */
[jsname="h50Ewe"] {
  .UG,
  .iYV,
  p,
  h1,
  h2,
  .adn div,
  h3,
  h4,
  h5,
  h6,
  .adn span,
  .oL span,
  .Ar,
  .nH,
  .iY {
    background: none !important;
    color: var(--gm3-sys-color-on-background);
  }
}

/* gmail-glass */
[role="main"] {
  background-color: color-mix(in srgb, var(--gm3-sys-color-background), transparent 50%) !important;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px !important;
}

/*  gmail-rounded corners */
#\:3,
div.nH:nth-child(4) > div:nth-child(1) {
  border-radius: 8px !important;
}

/* gmail-flashbangless loading */
#loading,
.Ap,
.aoI,
.aoP .Ar,
.aC2,
.aC3,
.HM .ahe::after,
.Am,
.nr,
.gA .aGb,
.gA .agP,
.gA .agh {
  background-color: transparent;
}

#loading .la-e {
  display: none !important;
}

.tVu25 {
  transition: all 0.75s ease-in-out !important;
}

body:not(:has(#loading[style="display: none;"])) .tVu25 {
  filter: blur(20px) !important;
}

.gA .IG,
.gA .aDj,
.gA .GQ {
  /*! backdrop-filter: blur(5px) !important; */
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.gA .J-Z {
  backdrop-filter: blur(5px) !important;
  background-color: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)) !important;
}

.amr .ams,
.jWOS7-JX-I,
.gA .afV {
  background-color: light-dark(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)) !important;
  color: white !important;
  border: none !important;
}

.jWOS7-JX-I::before {
  border: none !important;
}

.gA .aaA,
.gA .T-I-J3,
.gA .J-JN-M-I,
.ajz,
.T-KT,
.gA .J-Z-M-I-JG,
.SB,
.pYTkkf-JX-ank-Rtc0Jf,
.amr .ams::before {
  filter: brightness(0) invert(1) !important;
}
.gA .aDj {
  filter: none;
}

.gA .J-Z-M-I,
.hP {
  color: white !important;
}

.btDi4d.tyMQmc {
  box-shadow: none !important;
}
